@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&display=swap');

/* ======================= VARIABLES ======================= */
:root{
    --Purple100: hsl(254, 88%, 90%);
    --Purple500: hsl(256, 67%, 55%);

    --Yellow100: hsl(31, 66%, 93%);
    --Yellow500: hsl(39, 100%, 71%);

    --White: hsl(0, 0%, 100%);

    --font: "DM Sans", sans-serif;

    /* Fontes reduzidas */
    --fs-xxl: 2.2rem;
    --fs-xl: 2rem;
    --fs-lg: 1.4rem;
    --fs-md: 1.1rem;
    --fs-sm: 1rem;
}

/* ======================= RESET ======================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: ghostwhite;
}

/* ======================= GRID WRAPPER ======================= */
main{
    width: 90%;
    display: grid;
    gap: 14px;
    grid-auto-rows: minmax(60px, auto); /* ALTURA REDUZIDA */
}

/* ======================= GLOBAL ELEMENTS ======================= */
img{
    max-width: 100%;
    height: auto;
    display: block;
    max-height: 130px; /* ALTURA REDUZIDA */
    object-fit: contain;
}

/* UTILITÁRIOS */
.card{
    border-radius: 10px;
    padding: 10px 15px;  /* PADDING REDUZIDO */
}

.text-center{
    text-align: center;
}

/* ======================= COMPONENTES ======================= */

/* fiveStars */
.fiveStars{
    background: var(--Purple500);
    color: var(--White);
    text-align: center;
    padding: 25px;
}
.fiveStars .title{
    font-size: var(--fs-xl);
    font-weight: 500;
    line-height: 28px;
}
.fiveStars span{
    color: var(--Yellow500);
}
/* multiPlataform */
.multiPlataform{
    background: var(--White);
    font-size: var(--fs-md);
    font-weight: 500;
}
.multiPlataform p{
    margin-top: 10px;
    font-weight: 700;
}

/* calendar */
.calendar{
    background: var(--Yellow500);
    font-size: var(--fs-md);
    font-weight: bold;
    padding: 15px;
}

/* socialMedia */
.socialMedia{
    background: var(--Purple100);
    text-align: center;
}
.socialMedia .title{
    font-size: var(--fs-lg);
    font-weight: 700;
    margin-bottom: 15px;
}
.socialMedia p{
    font-size: var(--fs-sm);
    font-weight: 500;
    margin: 12px 5px;
}

/* growFollowers */
.growFollowers{
    background: var(--Purple500);
    color: var(--White);
    text-align: center;
}
.growFollowers p{
    font-size: var(--fs-lg);
    width: 80%;
    margin: auto;
}

/* audienceGrowth */
.audienceGrowth{
    background: var(--White);
}
.audienceGrowth .title{
    font-size: var(--fs-xxl);
    font-weight: 500;
}
.audienceGrowth .paragraf{
    font-size: var(--fs-sm);
    font-weight: 500;
    margin-bottom: 12px;
}

/* createPost */
.createPost{
    background: var(--Yellow100);
}
.createPost p{
    font-size: var(--fs-lg);
    font-weight: 500;
    margin-bottom: 15px;
}
.createPost span{
    color: var(--Purple500);
}

/* aiWrite */
.aiWrite{
    background: var(--Yellow500);
}
.aiWrite p{
    font-size: var(--fs-lg);
    font-weight: 500;
}

/* ======================= GRID DESKTOP ======================= */
@media (min-width: 600px) {
    body{
        width: min(1000px, 90%);
        margin: auto;
    }

    main{
        max-width: 80dvw;
        margin: auto;
        grid-template-areas: 
            'a7 a1 a1 a1 a1 a4'
            'a7 a1 a1 a1 a1 a4'
            'a7 a2 a2 a3 a3 a4'
            'a8 a2 a2 a3 a3 a4'
            'a8 a6 a6 a5 a5 a5'
            'a8 a6 a6 a5 a5 a5';
    }
    /* fiveStar desktop */
    .fiveStars{ 
        grid-area: a1; 
        padding: 2.5rem;
    }
    .fiveStars .title{
        font-size: 3rem;
        line-height: 1em;
    }
    .fiveStars img{
        margin: 20px auto;
        width: 60%;

    }
    /* multiPlataform desktop */
    .multiPlataform{ 
        grid-area: a2;
        font-size: 1.6rem;

    }

    /* calendar desktop */
    .calendar{ 
        grid-area: a3;
        font-size: 1.6rem;
        font-weight: 600;
        padding-bottom: 0;
     }
    .calendar img{
        width: 80%;
     }

    /* socialMedia desktop */
    .socialMedia{
         grid-area: a4;
     }
    .socialMedia .title{
        text-align: left;
        line-height: 1.4rem;
    }
    .socialMedia img{
        height: 300px;
    }
    .socialMedia p{
        text-align: left;
        line-height: 1.4rem;
    }

    /* growFollowers desktop */
    .growFollowers{
        grid-area: a5;
     }

    /* audienceGrowth desktop */
    .audienceGrowth{ 
        grid-area: a6; 
    }

    /* createPost desktop */
    .createPost{ 
        grid-area: a7; 
    }

    /* aiWrite desktop */
    .aiWrite{
         grid-area: a8;
     }
}
